# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build directory
build

# bak files
*~

# tags exctags
tags

# compiled prog and manuals
gtmixer
*.1.gz
